/*universal stylings*/
@font-face {
    font-family: titleFont;
    src: url("assets/EmpanadaItalic.otf");
}
@font-face {
    font-family: buttonFont;
    src: url("assets/Empanada.otf");
}
*{
    font-family: titleFont, sans-serif;
}
body{
    background: url("assets/1-32_overview_1.png");
}
button{
    font-size: 3rem;
    font-family: buttonFont, sans-serif;
    margin-bottom: 2%;
    padding: 1%;
}
button:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
/*VARIABLE CLASSES*/
.hide{
    display: none;
}
.turn{
opacity: 0;
}
.selected{
    opacity: .5;
}
.disabledButton{
    cursor: not-allowed;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
/* HEADER */
header{
    width: 100%;
    background-color: #014275;
    height: 15vh;
    text-align: center;
}
header > div {
    width: 30%;
    border: 1px solid white;
    display: inline-block;
    height: 98%;
}
#team1{
    float: left;
    border-radius: 0 30% 30% 0;
    background-color: #f86230;
}
#team1 > h1{
    float: left;
    margin: 7% 2%;
}
#team2{
    float: right;
    border-radius: 30% 0 0 30% ;
    background-color: #77655f;
}
#team2 > h1{
    float: right;
    margin: 7% 2%;
}
header h1{
    display: inline-block;
    font-size: 4vw;
}
/*GAMEBOARD*/
main{
    height: 80vh;
    background: rgba(0, 0, 0, 0.6);
}
aside{
    width: 20%;
    height: inherit;
    text-align: center;
    font-size: 2em;
}
aside#team1_display{
    float: left;
    background-color: rgba(248, 64, 48, 0.6);
}
aside#team2_display{
    float: right;
    background-color: rgba(120, 96, 104, 0.6);
}
.gameBoard{
    width: 60%;
    display: inline-block;
    background: rgba(0, 0, 0, 0.6);
    text-align: center;
    height: auto;
}
/*Main menu/victory state styling*/
.menu{
    background-color: #6a6969;
    height: auto;
    text-align: center;
}
section h1{
    text-align: center;
    margin: auto;
    font-size: 6rem;
}
section div{
    padding: 1%;
    margin: 1%;
}
div > p {
    display: inline;
    font-size: 3rem;
    margin: 6%;
}
input{
    height: 2rem;
    width: inherit;
    float: right;
    margin: 2%;
    font-size: xx-large;
}
ul li{
    display: inline;
    list-style: none;
    font-size: 3rem;
}
ul{
    padding: inherit;
}
.highlight{
    display: inline-block;
}
.highlight img:hover {
    opacity: .5;
}
